body {
  margin: 0;
  box-sizing: border-box;
}

/* Top Banner */
section.top_banner {
  height: 50vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  background-image: 
    linear-gradient(black, black),
    url(./assets/donation13.jpg);
  background-blend-mode: saturation;
  background-repeat: no-repeat;
  background-size: cover;
}
section.top_banner > .container {
  max-width: 780px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  text-align: center;
  color: #fff;
}
section.top_banner > .container h1 {
  font-weight: 700;
  font-size: 65px;
  line-height: 79px;

  margin: 0;
}
section.top_banner > .container p {
  font-weight: 500;
  font-size: 24px;
  line-height: 28px;
  letter-spacing: 1px;
}
section.top_banner > .container a {
  border-radius: 5px;
  font-weight: 600;
  font-size: 20px;
  line-height: 24px;

  padding: 20px 24px;
  background: #FF5959;
  color: #fff;
  text-decoration: none;
}

